<!doctype html>
<html> 
  <head>
    <title>login</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>login page</h1>
    </header> 

    <section>
			<form action="/m_reg/" method="post">
        <table border="2">
					<tr>
					<td>이름</td>
					<td><input type="text" name="m_name"></td>
					</tr>

					<tr>
					<td>주소</td>
					<td><input type="text" name="m_addr"></td>
					</tr>

					<tr>
					<td>연락처</td>
					<td><input type="text" name="m_tel"></td>
					</tr>
          <tr>
            <th><input type="submit" value="submit"></th>
          </tr>

        </table>
			</form>
    </section>
  </body>
</html>
