<!doctype html>
<html> 
  <head>
    <title>return</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <h1>return</h1>
    </header> 

    <section>
      <table>
        <tr>
          <td>이름</td>
          <td>{{n}}</td>
        </tr>
        <tr>
          <td>주소</td>
          <td>{{a}}</td>
        </tr>
        <tr>
          <td>연락처</td>
          <td>{{t}}</td>
        </tr>
      </table>
    </section>
  </body>
</html>




